.search {
  border: 1px solid var(--color-black);
  color: var(--color-black);
}
.input {
  background-color: var(--color-white);
}
.input::placeholder {
  color: var(--color-black);
}
@media (max-width: 786px) {
  .search {
    margin: 0 1rem;
  }
}
